<center>

# AFRICAN INSTITUTE FOR MATHEMATICAL SCIENCES

### (AIMS RWANDA, KIGALI)

</center>

---
---
####  Name: ANDRIANANTENAINA Zo Lalaina Andrianina
#### Email: lalaina.andrianina@aims.ac.rw
#### Daily report number: 08
#### Date : 02 /09/2025
---
---

## Recursive function

In [5]:
def fact(n):
    if n<= 0:
        return 1

    return n*fact(n-1)

In [6]:
fact(2)

2

here are two clean recursive examples:

## 1) Fibonacci sequence

In [16]:
def fibonacci(n):
    if n == 0:
        return 0

    if n == 1:
        return 1
    if n >= 2 :
        return fibonacci(n-1) + fibonacci(n-2)

In [17]:
fibonacci(6)

8

## Lambda function

In [18]:
double = lambda x: x * 2
print(double(4))

8

In [19]:
def power(n):
    return lambda x : x**n

square = power(2)
cube = power(3)

print(square(5))
print(cube(2))

25
8