<center>

# AFRICAN INSTITUTE FOR MATHEMATICAL SCIENCES

### (AIMS RWANDA, KIGALI)

</center>

---
---
####  Name: ANDRIANANTENAINA Zo Lalaina Andrianina
#### Email: lalaina.andrianina@aims.ac.rw
#### Daily report number: 07
#### Date : 31/09/2025
---
---

## Functions

### 
`input` and `print`

### user-defined
``` python
def functions([parameter1, parameter2,..., parameterN]):
    """Documentation for the function """
    < block_of_instruction>

```

In [6]:
def multiplication_table_8():
    """
    The purpose of this function id to dislaythe first 20
    values of sthe multiplication tbale for 8.]
    Input : None
    Output: The multiplication table for 8

    """
    n = 1
    while n <= 10:
        v = n * 8
        print(n, 'x', 8, '=', v, sep= ' ')
        n = n + 1

In [7]:
multiplication_table_8()

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

In [9]:
def multiplication_table(n):
    print("=" * 25)
    for i in range(1,11):
        result = i * n
        print(f"{i:2} x {n:2} = {result : 3}")
    print("=" * 20)

In [10]:
multiplication_table(20)

=========================
 1 x 20 =  20
 2 x 20 =  40
 3 x 20 =  60
 4 x 20 =  80
 5 x 20 =  100
 6 x 20 =  120
 7 x 20 =  140
 8 x 20 =  160
 9 x 20 =  180
10 x 20 =  200
====================

### One parameter, use of `return`

In [11]:
def square(x):
    """
    Calculate the square of  give number.
    input: The number x to be square
    output: The square of the input number
    Args:
    x(float): The number to be squared.
    Returns:
    float: the square of the input number (arg).

    """
    
    return x**2

In [15]:
square(45)

2025

In [16]:
def Area(l, L):
    """
    This Area function calculates the area of  a rectangle.
    Input: Two parameter ( L: length , l: width)
    Output: The Area which is ( l times L)
    
    """
    return l*L

In [17]:
Area(4,6)

24